{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
        
{% endblock %}

{% block content %}

<!-- Begin container -->
<div class="events-background">
    <div class="container events-div">

        <!-- First row -->
        <div class="row">
            <!-- First column of first row -->
            <div class="col-md-6">
                <div class="info-box">
                    Content for 1st row, 1st column here
                </div>
            </div>
            <!-- Second column of first row -->
            <div class="col-md-6">
                <div class="info-box">
                    Content for 1st row, 2nd column here
                </div>
            </div>
        </div>
        <!-- End of first row -->

        <!-- Second row -->
        <div class="row">
            <!-- First column of second row -->
            <div class="col-md-6">
                <div class="info-box">
                    Content for 2nd row, 1st column here
                </div>
            </div>
            <!-- Second column of second row -->
            <div class="col-md-6">
                <div class="info-box">
                    Content for 2nd row, 2nd column here
                </div>
            </div>
        </div>
        <!-- End of second row -->

        <!-- Third row -->
        <div class="row">
            <!-- First column of third row -->
            <div class="col-md-6">
                <div class="info-box">
                    Content for 3rd row, 1st column here
                </div>
            </div>
            <!-- Second column of third row -->
            <div class="col-md-6">
                <div class="info-box">
                    Content for 3rd row, 2nd column here
                </div>
            </div>
        </div>
        <!-- End of third row -->

    </div>
    <!-- End of container -->
</div>

{% endblock %}