{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="events-background">
    <div class="container">
        <div class="row text-center mt-3">
            <div class="col">
                <h2 class="logo-font">Past Events</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <!-- Cards Section -->
        <div class="row">
            <!-- First column of first row -->
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card h-100 border-1">
                    <img src="../../media/greek_statue_rawpixel_freepik.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-event">
                        <p class="card-text">June 27-30, Aix En Provence</p>
                        <p class="card-text">Plein Air painting in Provence.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card h-100 border-1">
                    <img src="../../media/artist_holding_brushes_right.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-event">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card h-100 border-1">
                    <img src="../../media/greek_statue_rawpixel_freepik.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-event">
                        <p class="card-text">June 27-30, Aix En Provence</p>
                        <p class="card-text">Plein Air painting in Provence.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card h-100 border-1">
                    <img src="../../media/artist_holding_brushes_right.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-event">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card h-100 border-1">
                    <img src="../../media/greek_statue_rawpixel_freepik.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-event">
                        <p class="card-text">June 27-30, Aix En Provence</p>
                        <p class="card-text">Plein Air painting in Provence.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card h-100 border-1">
                    <img src="../../media/artist_holding_brushes_right.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-event">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Cards Section -->
    </div>
</div>
{% endblock %}
