{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row"></div>
    </div>
{% endblock %}

{% block content %}
<div class="cover"></div>
    <div class="container-fluid materials">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Materials</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for material in materials %}
                        {% include "materials/includes/material_card.html" %}
                        {% include "materials/includes/material_dividers.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5"></div> 
{% endblock %}
