html {
    height: 100%;
}

body {
    background: url('/media/greek_statue_freepik_freepik.jpg') no-repeat right top fixed;
    background-size: cover;
    background-position: right top;
    color: #555;
    font-family: 'Lato';
    flex-grow: 1;
}

.sign-out-text {
    background-color:#f8f9fa;
    margin-top: 500px;
    padding: 10px;

}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.events-background {
    background-color: #a1dbd0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-div {
    padding-top: 30px;
}

/* Card styling*/
.card {
    margin: 20px;
    border: 2px solid #e76536; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Zoom effect and shadow*/
.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    position: relative;
}

.card-img-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
}

.card-body {
}

.card-body-event {
    background-color: #e76536;
}

.card-body-event p {
    color: #fff !important;
}

.card-body p {
    font-size: 20px;
    color: #555;
}


.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #e76536;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #e76536;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #555 !important;
}

.border-black {
    border: 1px solid #e76536 !important;
}

.bg-tangerine {
    background: #e76536 !important;
}

.cover {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #a1dbd0;
    z-index: -1;
}

.cover-material-detail {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #f8f9fa;
    z-index: -1;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #f8f9fa;
	z-index: -1;
}

/* horizontal line styling */
hr {
    border-top: 2px solid #095484;
  }

.btt-button {
height: 42px;
width: 42px;
position: fixed;
bottom: 10px;
right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.footer {
    background-color: #e76536;
    padding: 20px;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
}

.footer a {
    color: white;
}

.footer-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right {
    text-align: center;
    display: flex;
    align-items: center;
}

.materials {
    background-color: #a1dbd0;
}

#follow-us-div {
    max-width: 400px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #6c757d; 
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  
  

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 140px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile display */
@media (max-width: 991px) {
    .header-container {
        padding-top: 40px;
    }

    body {
        height: calc(100vh - 116px);
        margin-top: 75px;
    }

    .sign-out-text {
        background-color:#f8f9fa;
        padding: 10px;
    
    }
}

/* larger mobile device sice */
@media (max-width: 576px) {
    #follow-us-div, #mc_embed_shell {
        max-width: 100%;
    }

    body {
      background: url('/media/small_screen_greek.jpg');
      margin-top: 120px;
    }
}

/* pad the top a bit when navbar is collapsed on smallest sized mobile display */
@media (max-width: 380px) {
    .header-container {
        padding-top: 40px;
    }

    body {
        height: calc(100vh - 170px);
        background: url('/media/small_screen_greek.jpg');
    }

}

