<footer class="footer mt-auto py-3 dark-bg">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-8 text-center text-md-left">
                <div class="footer-left">
                    <p class="m-0 text-white">Made by Art Connoisseur</p>
                    <p class="m-0 text-white">
                        <a class="social-link" href="https://twitter.com/your_twitter" role="button" target="_blank" rel="noopener noreferrer nofollow" aria-label="twitter link"><i class="fab fa-lg fa-twitter-square ms-3"></i></a>
                        <a class="social-link" href="https://instagram.com/your_instagram" role="button" target="_blank" rel="noopener noreferrer nofollow" aria-label="instagram link"><i class="fab fa-lg fa-instagram-square ms-3"></i></a>
                        <a class="social-link" href="https://youtube.com/your_youtube" role="button" target="_blank" rel="noopener noreferrer nofollow" aria-label="youtube link"><i class="fab fa-lg fa-youtube-square ms-3"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
