<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="{% url 'materials' %}" class="logo-font font-weight-bold nav-link text-black mr-5">All Materials</a>
                
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Paints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'materials' %}?category=pigment_rich_oils" class="dropdown-item">Pigment Rich Oils</a>
                <a href="{% url 'materials' %}?category=student_oils" class="dropdown-item">Student Oils</a>
                <a href="{% url 'materials' %}?category=acrylics" class="dropdown-item">Acrylics</a>
                <a href="{% url 'materials' %}?category=pigment_rich_oils,student_oils,acrylics,water_colour,inks" class="dropdown-item">All Paints</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Canvas
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'materials' %}?category=cotton_canvas" class="dropdown-item">Cotton Canvas</a>
                <a href="{% url 'materials' %}?category=linen_canvas" class="dropdown-item">Linen Canvas</a>
                <a href="{% url 'materials' %}?category=cotton_canvas,linen_canvas,standard_canvas" class="dropdown-item">All Canvas</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Paper
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'materials' %}?category=acrylic_oil_paper" class="dropdown-item">Acrylic & Oil Paper</a>
                <a href="{% url 'materials' %}?category=drawing_paper" class="dropdown-item">Drawing Paper</a>
                <a href="{% url 'materials' %}?category=acrylic_oil_paper,drawing_paper,watercolour_paper," class="dropdown-item">All Paper</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Draw
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'materials' %}?category=graphite_pencils" class="dropdown-item">Graphite Pencils</a>
                <a href="{% url 'materials' %}?category=coals" class="dropdown-item">Coals</a>
                <a href="{% url 'materials' %}?category=brushes" class="dropdown-item">Brushes</a>
                <a href="{% url 'materials' %}?category=graphite_pencils,coloured_pencils,watercolour_pencils,coals" class="dropdown-item">All Drawing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" aria-haspopup="true" aria-expanded="false"> -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'events' %}">EVENTS</a>
            
        </li>
        <li class="nav-item dropdown">
            <!-- <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" aria-haspopup="true" aria-expanded="false"> -->
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'follow_us' %}">FOLLOW US</a>
            
        </li>
    </ul>
</div>